@charset "ISO-8859-1";


#foother{
	width:auto;
	height:300px;
	background-color:silver;
}
.paddingMobile{
	float: left;
	width:20%;
	font-size: 20px;
	padding-left:1;
	font-family: "Times New Roman", Times, serif;
	color: teal;
	text-decoration: none;
	
}


.paddingMobile li{
	width:250px;
	display:inline-block;
	margin-top:5px;
	margin-left:1px;
	
}

.block-contact.links{
	font-size: 15px;
	padding-left:1;
	font-family: "Times New Roman", Times, serif;
	color: teal;
	text-decoration: none;
}

.contactSpan{
	font-size: 15px;
	padding-left:1;

	font-family: Arial, Helvetica, sans-serif;
	color: navy;
	text-decoration: none;
}

.pagamento{
	float:left;
	width:20%;
	font-size: 20px;
	padding-left:1;
	margin-left: 5%;
	font-family: "Times New Roman", Times, serif;
	color: teal;
	text-decoration: none;
}

.spedizione{
	float:left;
	width:20%;
	font-size: 20px;
	padding-left:1;
	margin-left: 5%;
	font-family: "Times New Roman", Times, serif;
	color: teal;
	text-decoration: none;
}

.domande{
	float: left;
	width:20%;
	font-size: 20px;
	padding-left:1;
	font-family: "Times New Roman", Times, serif;
	color: teal;
	text-decoration: none;
}

.domande li{
	width:250px;
	display:inline-block;
	margin-top:5px;
	margin-left:1px;
	
}

.altro{
	float:left;
	width:20%;
	font-size: 20px;
	padding-left:1;
	margin-left: 10%;
	font-family: "Times New Roman", Times, serif;
	color: teal;
	text-decoration: none;
}




