@charset "ISO-8859-1";


#risultato{
	width :60%px;
	height:1080px;
	border-style:solid;
	margin-left:20%;
	margin-right:10%;
}
#singolo{
		font-family: "Sofia", sans-serif;
	display:inline;
	float:left;
	width:280px;
	height:220px;
	border-style:solid;
	padding: 5px 5px 5px 5px;
	margin: 10px 10px 10px 10px;
}

#immagineprod{
	width: 70px;
	height:80px;
	margin-left:20%;
	
}
#parametriconfigurazione{
	font-family: "Sofia", sans-serif;
	float:left;
	width: 15%;
	height:1080px;
	border-style:solid;
	margin-left:70px;
	color:black;
	background-color:beige;
}
#parametriconfigurazione.label{
	color:blue;
}





