@charset "ISO-8859-1";

html,body{height:99%;}

.banner{display:none;}
.header{background:grey;  width:100%; height:70px;  z-index:10;}
.header__logo{color:white;float:left; display:block;}
.header__logo img{width:250px; height:60px; padding :5px 5px 5px 5px;}
.header__menu{float:right; margin:0; padding-bottom :10px; margin:30px 0px 10px 10px;}

.header__menu__item{display:inline; float:left;padding :8px 12px 8px 12px;font-size:25px; font-family:"Sofia";text-decoration:none; text-align:center;  }
.header__menu__item{color:white; display:block;padding:5px;}
.header__menu__item a:link{color:black;}
.header__menu__item a:visited{color:black;}
.header__menu__item:hover{background:green;}
.header__menu__item a{text-decoration:none;}


.header__menu__sotto{  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;}
.header__menu__sotto a{color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }
.header__menu__sotto a:hover{background:green;}
#username:hover .header__menu__sotto{display:block;}
.accedi__mobile{display:none;}

.ricerca{display:inline; float:left; width:450px; height:40px; border-style:2px solid;border-radius:12px; margin-left:220px; margin-top:25px; padding:0;}
.ricerca_testo {display:inline;float:left;width:85%; height:100%; border-radius: 12px 0px 0px 12px;background:white;}
#input_ricerca{width:98%; height:90%; margin:0;padding-left:10px; padding-right:5px;border-radius:12px 0px 0px 12px; border-style:none; outline: none;}
.ricerca_img{display:inline;float:right; width:15%;height:100%; padding :0; margin:0;border-radius:0px 12px 12px 0px; background:green; }
#img_ricerca{ width:35px; height:35px; padding:2px 0px 10px 10px;}
#carrello{display:inline; float:left; width:50px;height:35px; margin:18px 0 0 25px;}
#carrello img{width:100%;}
#carrello img:hover{-moz-transform: scale(1.1);-webkit-transform: scale(1.1);transform: scale(1.1);}.ricerca_testo:a {border: 8px solid green; border-radius:12px;}

.header__icon-bar span{display:block; height:3px;width:40px;background:black; margin:7px 5px 5px 5px;}
.header__icon-bar {display:block;float:right; padding: 20px; }

.center{width:96%; height:90%; border-style:solid; margin-left:2%;display:inline-block;}

.slogan{float:left;display:inline;width:20% ;margin-left:35px;margin-top:15px; height:80%;border-style:solid;}
.immagine{position:relative;float:left;display:inline;width:50% ;margin-left:25px;margin-top:15px;height:80%;}
.immagine img{width:100%; height:70%;}
.offerta{float:left;display:inline;width:20% ;margin-left:35px;margin-top:15px;height:80%;border-style:solid;}

.slogan h1,h2{font-family:"Sofia"; color:blue; }


.immagine__cerchio{display:inline; float:left;width:120px;height:120px; border-radius:100%;  margin-left:50px; margin-top:10px;}
.immagine__cerchio img{width:100%;height:100%;border-radius:100%;padding:0; margin : 0;}
.immagine__cerchio :hover{border:3px;border-style:solid;border-color:green;}
.home{ display:none;}
.home-generale{display:none;}


@media(max-width:998px){

	
	
	
}


@media(max-width:767px){
	.accedi__mobile{width:70px;display:inline; float:right;  font-size:40px; text-decoration:none; font-family:"Sofia";color:black;z-index:3;}
	.accedi__mobile__item{display:inline;}
	.header__logo img{width:180px; height:40px; padding :5px 5px 5px 5px;}
	.banner{width:100%; height:100px; position:fixed; background:grey; display:block; margin:0;}
	.center{position:relative;}
	.header{position:fixed; z-index:100; width:100%;}
	
	.header__menu__sotto{display:none;}
	.header__menu{display:none;}
	
	.is-open{height:250px; color:black; background:lightgrey; position:absolute; bottom:500px; }
	
	.slogan{display:none;}
	.offerta{display:none;}
	.immagine{width:90%; margin-left:5%;}
	.immagine__cerchio{display:inline; float:left;width:60px;height:60px; border-radius:100%; border-style:solid;  padding:0;margin-left:15px; margin-top:10px;}
	.ricerca{display:none;}
	
	.home {width:20%; height:100%; display:inline;float:left;padding:5px 5px 10px 10px;}
	.home img{width:50px; height:50px; padding:10px 10px 10px 10px;}
	.home img:hover{background:green;}
	
}



.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */



