@charset "ISO-8859-1";
body{
	background:lightgrey;
}
.login {
	width: 50%;
	margin-top:7%;
	margin-left: 25%;
	margin-right: 25%;
	
}

.login table {
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
}

.login tr {
	margin-top: 5%;
}

input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 3px solid #ccc;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

input:focus {
	border: 3px solid green;
}


#utente input:focus {
	border: 3px solid green;
	float:left;
}


.login input:focus{
	border: 3px solid green;
}




.bottone {
	width: 30%;
	margin-top: 50px;
	margin-left: 35%;
	margin-right:35%;
	border-radius: 5px;
}
.bottone:hover{
	border: 3px solid green;
}

#iscriviti{
	width:40%;
	margin-left:30%;
}

#iscriviti:hover{
	border: 3px solid green;
}

#errorelogin{
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	color:green;
	border-style:solid;
	width:300px;
	height:200px;
	margin:5% 20% 50% 30%;

}
#errorelogin h1{
	color:red;
}


.registrazione{
	width:58%;
	margin-left:20%;
	margin-right:20%;
}

.registrazione table{
	width:60%;
	margin: 8% 20% 2% 20%;}
